{
	"singleQuote": false,
	"semi": true,
	"useTabs": true,
	"printWidth": 120,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"trailingComma": "all",
	"plugins": ["prettier-plugin-astro", "@trivago/prettier-plugin-sort-imports"],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true
}
